@import 'configure/componentsConfig.scss';
@import 'configure/mediaConfig.scss';

@media all and (min-width: $media-width-tablet) and (max-width: $media-width-max) {
  // card design.
  .card {
    background: #353b46 !important;
    border: 0px solid #353b46 !important;

    transition-duration: 0.3s;
    transform: scale(0.9);

    .stats-small__label {
      color: white;
      opacity: 0.8;

      font-size: 1em !important;
    }
    .stats-small__value {
      color: white;
      opacity: 1;
      font-size: 2em !important;
    }
  }

  .card:hover {
    transform: scale(1.0);
  }
}

@media not all and (min-width: $media-width-tablet) and (max-width: $media-width-max) {
  // card design.
  .card {
    background: #353b46 !important;
    border: 0px solid #353b46 !important;

    transition-duration: 0.3s;
    transform: scale(0.9);

    .stats-small__label {
      color: white;
      opacity: 0.9;

      font-size: 1em !important;
    }
    .stats-small__value {
      color: white;
      opacity: 1;
      font-size: 2em !important;
    }
  }

  .card:hover {
    transform: scale(1.0);
  }
}
