<div class="columns ajust-grey-light">
    <div class="column is-12 no-margin">
        <p class="px-24">Status</p>
        <div class="columns">
            <div class="column is-2 is-3-mobile no-lr-padding">
                <p class="px-14 m-px-10">Realtime Count</p>
            </div>
            <div class="column is-1 is-1-mobile no-lr-padding">
                <p class="px-50 m-px-20">63</p>
            </div>
            <div class="column is-1 is-2-mobile no-lr-padding">
                <p class="button px-14 m-px-10 ajust-green white is-rounded">+3</p>
            </div>
            <div class="column is-2 is-3-mobile no-lr-padding">
                <p class="px-14 m-px-10">Daily Count</p>
            </div>
            <div class="column is-1 is-1-mobile no-lr-padding">
                <p class="px-50 m-px-20">63</p>
            </div>
            <div class="column is-1 is-2-mobile no-lr-padding">
                <p class="button px-14 m-px-10 ajust-red white is-rounded">-1147</p>
            </div>
            <div class="column is-2 hidden-on-mobile no-lr-padding">
                <p class="px-14">Daily Hygiene Point</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="px-50">68</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="button ajust-yellow is-rounded"></p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12 no-lr-padding">
                <hr>
            </div>
        </div>
        <div class="columns">
            <div class="column is-2 hidden-on-mobile no-lr-padding">
                <p class="px-14">Staff</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="px-35">50</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="px-14"></p>
            </div>
            <div class="column is-2 hidden-on-mobile no-lr-padding">
                <p class="px-14">Device</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="px-35">116</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="button px-14 ajust-red white is-rounded">-4</p>
            </div>
            <div class="column is-2 hidden-on-mobile no-lr-padding">
                <p class="px-14">Average Hygiene Level</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="px-35">Mid</p>
            </div>
            <div class="column is-1 hidden-on-mobile no-lr-padding">
                <p class="button px-14 ajust-yellow white is-rounded"></p>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
