{% include "header.html" ignore missing %}
<div class="columns">
{% include "sidebar.html" ignore missing %}
    <div class="column is-10 no-margin">
        <!-- head -->
        <div class="columns">
            <div class="column is-12 ajust-grey white">
                <p class="px-24"><b>Setting</b> / Group</p>
            </div>
        </div>
        <!-- head fin -->

        <!-- Tabs start -->
        <div class="columns ajust-grey-light no-margin-bottom">
            <div class="tabs is-centered is-boxed is-12">
                <ul>
                    <li class="ajust-grey">
                        <a href="./group" class="white">
                            <span class="white">Group Edit</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Tabs end -->

        <div class="columns ajust-grey">
            <div class="is-12 no-lr-padding">
                <div class="columns">
                    <div class="column is-1 no-margin">
                        Name
                    </div>
                    <div class="column is-2 no-margin">
                        <input type="text" size="15px"></input>
                    </div>
                    <div class="column is-2 no-margin">
                        Staff
                    </div>
                    <div class="column is-1 no-margin">
                        <input type="text" size="5px"></input>
                    </div>
                    <div class="column is-2 no-margin">
                        Working Hour
                    </div>
                    <div class="column is-1 no-margin">
                        <input type="text" size="5px"></input>
                    </div>
                    <div class="column is-1 no-margin">
                        Level
                    </div>
                    <div class="column is-1 no-margin">
                        <input type="range" min=0 max=2></input>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-2 no-margin">
                        Device
                    </div>
                    <div class="column is-2 no-margin">
                        18
                    </div>
                    <div class="column is-2 no-margin">
                        Optimal Count
                    </div>
                    <div class="column is-2 no-margin">
                        210
                    </div>
                    <div class="column is-2 no-margin">
                        Safety Count
                    </div>
                    <div class="column is-2 no-margin">
                        105
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-4 no-margin">
                    </div>
                    <div class="column is-8 no-margin">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" ignore missing %}
