@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-tablet) and (max-width: $media-width-max) {
  .out-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
  }

  .inner-container {
    width: calc(100vw - 64px);
    position: relative;
  }

  .contents {
    display: block;
  }
}

@media not all and (min-width: $media-width-tablet) and (max-width: $media-width-max) {
  .out-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
  }

  .inner-container {
    width: 100vw - 6.3vw;
    position: relative;
  }

  .contents {
    display: block;
  }
}
