@import "configure/componentsConfig.scss";
@import "configure/mediaConfig.scss";

/**
    Analysis/Data Stylesheet
**/
.data-section {
  min-width: $media-width-desktop;

  width: 100%;
  height: 100%;

  .data-inner {
    position: relative;

    width: 100%;
    height: 100%;

    .data-top-container {
      position: relative;

      width: 100%;
      height: 7vh;

      background: #555d6b;
    }

    .data-bottom-container {
      position: relative;

      width: 100%;
      height: 90vh;

      background: #353b46;

      .button-box {
        position: absolute;
        top: -4.2vh;
      }
    }
  }
}