@import 'configure/componentsConfig.scss';
@import 'configure/mediaConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .report-view {
    width: 100%;
    height: 100%;

    background: white;

    .report-inner {
      position: relative;

      width: 100%;
      height: 100%;
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .report-view {
    width: 100%;
    height: 100%;

    background: white;

    .report-inner {
      position: relative;

      width: 100%;
      height: 100%;
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .report-view {
    width: 100%;
    height: 100%;

    background: white;

    .report-inner {
      position: relative;

      width: 100%;
      height: 100%;
    }
  }
}

