@import 'configure/componentsConfig.scss';
@import 'configure/mediaConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .hospital-section {
    width: 100%;
    height: 100%;

    background: #555d6b;

    transition-duration: 1s;

    .hospital-inner {
      position: relative;

      width: 100%;
      height: 100%;

      .hospital-top-container {
        position: relative;

        width: 100%;
        height: 23vh;

        background: #555d6b;

        .button-box {
          position: absolute;
          bottom: 0;
        }
      }

      .hospital-bottom-container {
        position: relative;

        width: 100%;
        height: 71vh;

        background: #353b46;
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .hospital-section {
    width: 100%;
    height: 100%;

    background: #555d6b;

    transition-duration: 1s;

    .hospital-inner {
      position: relative;

      width: 100%;
      height: 100%;

      .hospital-top-container {
        position: relative;

        width: 100%;
        height: 23vh;

        background: #555d6b;

        .button-box {
          position: absolute;
          bottom: 0;
        }
      }

      .hospital-bottom-container {
        overflow: hidden;
        position: relative;

        width: 100%;
        height: 71vh;

        background: #353b46;
      }
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .department-section {
    width: 100%;
    height: 100%;

    background: #555d6b;

    transition-duration: 1s;

    .hospital-inner {
      position: relative;

      width: 100%;
      height: 100%;

      .hospital-top-container {
        position: relative;

        width: 100%;
        height: 30vh;

        background: #555d6b;

        .button-box {
          position: absolute;
          bottom: 0;
        }
      }

      .hospital-bottom-container {
        position: relative;

        width: 100%;
        height: 64vh;

        background: #353b46;
      }
    }
  }
}

