@import 'configure/componentsConfig.scss';
@import 'configure/mediaConfig.scss';

.pie-chart {
  position: relative;
  margin-bottom: 3vh;

  width: 80%;
  height: 48%;
  margin: 0 auto;

  .title {
    font-size: 15px;
    color: white;

    text-align: center;

    .daypicker {
      width: 100%;
      margin: 0 auto;
      padding: 1vh 0;
    }
  }

  .pie-chart {
    position: relative;
    top: 5%;

    height: 60%;
  }
}
