@import "configure/componentsConfig.scss";
@import "configure/mediaConfig.scss";

.pie-chart {
  position: relative;
  margin-bottom: 3vh;

  height: 48%;
  
  .title {
    font-size: 15px;
    color: white;

    text-align: center;

    .daypicker {
      margin: 0 auto;
      padding: 1vh 0;
    }
  }

  .pie-chart {
    position: relative;
    height: 73%;
  }
}
