@import 'configure/componentsConfig.scss';
@import 'configure/mediaConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .status-chart {
    position: relative;

    width: 100%;
    height: 100%;

    padding: 2vh 1vw 6vh 1vw;

    background: #555d6b;
    overflow: scroll;

    .status-chart-inner {
      position: relative;

      width: 100%;
      height: 100%;

      .status-boxs {
        position: relative;
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .status-chart {
    position: relative;

    width: 100%;
    height: 100%;

    padding: 2vh 1vw 6vh 1vw;

    background: #555d6b;
    overflow: scroll;

    .status-chart-inner {
      position: relative;

      width: 100%;
      height: 100%;

      .status-boxs {
        position: relative;
      }
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .status-chart {
    position: relative;

    width: 100%;
    height: 100%;

    padding: 2vh 1vw 6vh 1vw;

    background: #555d6b;
    overflow: scroll;

    .status-chart-inner {
      position: relative;

      width: 100%;
      height: 100%;

      .status-boxs {
        position: relative;
      }
    }
  }
}