@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

/*************************
 * 
 * Side Var Menu
 *
 *************************/

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .side_var-item {
    font-size: 1.6vw;
    font-family: 'S-CoreDream-5';
  }

  .side_bar-item-icon {
  }

  .side_bar-item-icon img {
    max-width: 32px;
    width: 2vw;
  }

  .side_var-item-title {
    font-size: 15px;
  }

  .side_var-item-text {
    font-size: 12px;
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .side_var-item {
    font-size: 1.2vw;
  }

  .side_bar-item-icon {
  }

  .side_bar-item-icon img {
    max-width: 32px;
    width: 2.5vw;
  }

  .side_var-item-title {
    font-size: 15px;
  }

  .side_var-item-text {
    font-size: 12px;
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .side_var-item {
    font-size: 12px;
  }

  .side_bar-item-icon {
  }

  .side_bar-item-icon img {
    max-width: 32px;
    width: 1em;
  }

  .side_var-item-title {
    padding-left: 1em;
    font-size: 1em;
  }

  .side_var-item-text {
    font-size: 0.8em;
  }
}
